@font-face {
  font-family: "CustomFont";
  src: url("/fonts/unfair/Unfair Style3Shadow.ttf") format("truetype"),
    url("/fonts/unfair/Unfair Style3Shadow.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'BrandonFont';
    src: url(/fonts/brandon/BrandonPrinted-One.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
